@{
    var profileData = Session["UserProfile"] as ExpenseTrackerApp.Models.DAL.UserProfileSessionData;
}

<div class="page-title">
    <div class="pull-left ">
        <h1><span>Management</span> <i class="material-icons"></i> Create</h1>
    </div>
</div>

<div class="row">

    <div class="container-fluid fixed-panel-container">

        <div class="clear">
            <div class="panel panel-default">

                <div class="panel-heading">
                    QMS - Create Quiz
                    <!--Call Drop Reporting Procedure (VQR) -->
                </div>

                <div class="panel-body" id="ExpenseForm">
                    <fieldset class="row">

                        <div class="form-group col-md-3">
                            <label for="" class="control-label">User Name</label>
                            <input class="form-control" type="text" value="@profileData.User_ID - @profileData.User_Name" readonly />
                        </div>

                        <div class="form-group col-md-3">
                            <label for="" class="control-label">Expense Data Type</label>

                            <input id="EDT" class="form-control" name="EDT" required />
                            <span class="k-invalid-msg" data-for="EDT"></span>
                        </div>
                        

                        <div class="form-group col-md-3">
                            <label for="" class="control-label">Amount</label>

                            <input id="Amount"onkeypress="return isNumberKey(event)" class="form-control" name="Amount" required />
                            <span class="k-invalid-msg" data-for="Amount"></span>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="" class="control-label">Comment</label>
                            <input id="Comment" class="form-control" name="Comment" />
                        </div>




                    </fieldset>
                </div>

                <div class="panel-footer text-right">
                    <ul class="list-inline">
                        <li><button id="Clear" class="btn btn-transparent blue-txt">Clear</button></li>
                        <li><button type="button" id="Submit" class="btn btn-primary">Submit</button></li>
                    </ul>

                </div>

            </div>
        </div>

    </div>
</div>


<script>
    $(document).ready(function () {
        $("#Clear").on("click", function () {
            debugger;
            $("#EDT").data("kendoDropDownList").select(0);
            $("#Amount").val("");
            $("#Comment").val("");
        });
        var validator = $("#ExpenseForm").kendoValidator({
            rules: {
                required: function (input) {
                    if (input.filter("[required]").length && $.trim(input.val()) == "") {
                        return false;
                    }
                    return true;
                }
            }
        }).data("kendoValidator");
    });
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
</script>

<style>
    #fieldlist {
        margin: 0;
        padding: 0;
    }

        #fieldlist li {
            list-style: none;
            padding-bottom: .7em;
            text-align: left;
        }

        #fieldlist label {
            display: block;
            padding-bottom: .3em;
            font-weight: bold;
            text-transform: uppercase;
            color: #444;
        }

        #fieldlist li.status {
            text-align: center;
        }

        #fieldlist li .k-widget:not(.k-tooltip),
        #fieldlist li .k-textbox {
            margin: 0 5px 5px 0;
        }

    .confirm {
        padding-top: 1em;
    }

    .valid {
        color: green;
    }

    .invalid {
        color: red;
    }

    #fieldlist li input[type="checkbox"] {
        margin: 0 5px 0 0;
    }

    span.k-widget.k-tooltip-validation {
        display: inline-block;
        width: 160px;
        text-align: left;
        border: 0;
        padding: 0;
        margin: 0;
        background: none;
        box-shadow: none;
        color: red;
    }

    .k-tooltip-validation .k-warning {
        display: none;
    }

    .k-icon k-i-warning {
        display: none;
    }

    .k-i-warning {
        display: none;
    }
</style>